<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	<!-- VO 등록 -->
	<typeAlias type="com.sist.vo.RecipeVO" alias="RecipeVO"/>
	<typeAlias type="com.sist.vo.CampVO" alias="CampVO"/>
	<typeAlias type="com.sist.vo.CampVideoVO" alias="CampVideoVO"/>
	<typeAlias type="com.sist.vo.CampGoodsVO" alias="CampGoodsVO"/>
	<typeAlias type="com.sist.vo.QnaBoardVO" alias="QnaBoardVO"/>
	<typeAlias type="com.sist.vo.MemberVO" alias="MemberVO"/>
	<typeAlias type="com.sist.vo.ReserveVO" alias="ReserveVO"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"></transactionManager> <!-- AutoCommit -->
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@211.63.89.131:1521:XE"/>
				<property name="username" value="hr"/>
				<property name="password" value="happy"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<!-- mapper 추가 -->
		<mapper resource="com/sist/mapper/recipe-mapper.xml"/>
		<mapper resource="com/sist/mapper/camp-mapper.xml"/>
		<mapper resource="com/sist/mapper/campgoods-mapper.xml"/>
		<mapper resource="com/sist/mapper/qnaboard-mapper.xml"/>
		<mapper resource="com/sist/mapper/member-mapper.xml"/>
		<mapper resource="com/sist/mapper/mypage-mapper.xml"/>
		<mapper resource="com/sist/mapper/reserve-mapper.xml"/>
	</mappers>
</configuration>