@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border:0px solid silver;
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
}

img {
  width: 100px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.9rem;
  color: #999;
  line-height: 1rem;
  letter-spacing: 0.1px;
}
body {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 10px;
}
h1, h2, h3 {
  font-family: 'Noto Sans KR', sans-serif;
  color: #444;
}

h4, h5 {
  font-family: 'Noto Sans KR', sans-serif;
  color: #444;
}

h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

h5 {
  font-size: 0.9rem;
  line-height: 2.8rem;
}

ul {
  list-style: none;
}

button {
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

button:hover {
  color: white;
  background: black;
}


/*start*/

.pro {
  width: 1200px;
  margin: 0 auto;
  padding: 15rem 0;
padding-bottom:0;
  display: flex;
  justify-content: space-between;
  color: #444;
  font-family: 'Noto Sans KR', sans-serif;
}
.pro h2{
display: inline
}
.pro h3 {
  color: #666;
}

.pro> :nth-child(2) {
  padding-left: 4rem;
}
.jjim{
  display: inline;
  margin-left: 10px;

}
.jjim img{
  width: 25px;
  display: inline;
  margin-right: 10px;
  opacity: 0.7;
    transform: translateY(-7px);
    transition: 0.8s;
    cursor: pointer;

}
.jjim img:hover{
  opacity: 1;
  transition: 0.8s;
}
.display-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.product-info {
  width: 100%;
}

.coop{
display: inline;
  border: 1px solid #666;
  padding:5px 10px;
  opacity: 0.6;
  transition: 0.8s;
  cursor: pointer;
position: absolute;
right: 0;

 }
 .coop:hover{
   opacity: 1;
   transition: 0.8s;
 }
.coop img{
  width: 10px;
  margin-right: 10px;

}
.reviews-counter {
  font-size: 13px;
}

.reviews-counter span {
  vertical-align: -27px;
  margin-left: 10px;
}

.rate {
  float: left;
  padding: 0 10px 0 0;
  padding: 20px 0;
}

.rate:not(:checked)>input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked)>label {
  float: right;
  width: 23px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 25px;
  color: #ccc;
  margin-bottom: 0;
  line-height: 21px;
}

.rate:not(:checked)>label:before {
  content: '\2605';
}

.rate>input:checked~label {
  color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
  color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
  color: #c59b08;
}

.product-price-discount {
  font-size: 30px;
  font-weight: 400;
  padding: 10px 0;
  clear: both;
  font-weight: bold;

  position: relative;

}

.product-price-discount span.line-through {
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 14px;
  vertical-align: middle;
  color: #aaa;
  position: absolute;
  left: 80px;
  top:0;
}
.pay{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
}
.all-price{
  margin-top: 2rem;
  text-align: right;
  color: #c80a1e;
  font-size: 2.3rem;

}

.salenum{
  color: #c80a1e;
  font-weight: bold;
  font-size: 4rem;
  display: inline;
  margin-right: 20px;
}
.salenum small{
  color: #c80a1e;
  font-weight: bold;
}
.tag{
display: flex;
margin-top: 4rem;
}
.tag h4{
  margin-right: 10px;
  color: #999;
  cursor: pointer;
  transition: 0.8s;
  font-size:1.5rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 5px 10px;
}
.pro p {
  padding: 2rem 0;
  line-height: 3rem;
  border-top: 1px solid #ccc;
  font-size: 1.7rem;
  border-bottom: 1px solid #ccc;
  margin: 2rem 0;
}

.product-dtl .form-control {
  font-size: 15px;

}

.product-dtl label {
  line-height: 16px;
  font-size: 15px;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.product-count {
  margin-top: 15px;
}

.product-count .qtyminus,
.product-count .qtyplus {
  width: 38px;
  height: 38px;
  background: #444;
  text-align: center;
  font-size: 19px;
  line-height: 36px;
  color: #fff;
  cursor: pointer;

}

.product-count input {
  border: 1px solid #999;
  height: 38px;
}

.product-count .qtyminus {
  border-radius: 3px 0 0 3px;
}

.product-count .qtyplus {
  border-radius: 0 3px 3px 0;
}

.product-count .qty {
  width: 60px;
  text-align: center;
}

.round-black-btn {
width: 100%;
  background: #c80a1e;
  color: white;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  transition: all 0.5s ease-in-out 0s;
  margin-right: 10px;
}

.round-black-btn:hover,
.round-black-btn:focus {
background: red;
  color: white;
  text-decoration: none;
}

.round-black-btn2 {
width: 100%;
  background: #444;
  color: white;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  transition: all 0.5s ease-in-out 0s;
}

.round-black-btn2:hover,
.round-black-btn2:focus {
  background: #666;
  color: white;
  text-decoration: none;
}

select {
  width: 100%;
  border: 1px solid #666;
  padding: .8em .5em;
  background: url('https://cdn2.iconfinder.com/data/icons/font-awesome/1792/angle-down-512.png') no-repeat;
  border-radius: 0px;
  background-position:97% 50%;
  background-size: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0.6;
  cursor: pointer;

}
select:focus{
  border : 1px solid #000;
}
.selectioncss{
  margin-right: 20px;
display:inline;
}
.items{
  display: inline;
}

.items{padding: 16px 0;}

.item{padding: 16px 0 16px 10px; border-bottom: 1px solid #e6e6e6; position: relative;
display: flex;}
.item:after{display: block;content: '';clear: both;}
.item a{ background: #fff; border: 1px solid #d8d8d8;box-sizing: border-box; width: 30px; height: 30px;
  color: #444; font-size: 2rem;}
.items .item-close{
  width: 30px;
  height: 30px;
  margin-top: 0;
  background: none;
  font-size: 1.4rem;
  color: #444;
  padding-top: 6px;
  border: none;
  text-decoration: inherit;
  font-weight: lighter;
}
.items .item-close a:hover{
  text-decoration: none;
  color: #c80a1e;
}
.item .item-name{font-size: 16px; font-weight: 300;width:200px;}
.item .item-name+span{display: inline-flex; margin-left: 13%;}

.item .item-name+span a{padding-top: 0px; text-align: center; color: #444;}
.item .item-name+span a:hover{
  text-decoration: none;
}
 input[type="number"]{margin: 0 -1px;padding-top: 4px;width: 40px; text-align: right;
background: #fff;border: 1px solid #d8d8d8;}
.item-price{font-weight: bold; font-size: 18px; margin-left: 5%;
}
.item-price+a{float:right; text-align: center; width: 18px; height: 18px; margin: 5px 10px 0 0; font-weight: bold; padding-bottom: 18px;
}



.selectioncss h4{
  margin-right: 10px;
}

.product {
  width: 600px;
  max-width: 800px;
  height: 650px;
}

.view {
  width: 600px;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('https://www.iloom.com/upload/product/20190607/S600_f950492d-e09d-490d-9100-a696dd613b67.jpg');
  background-clip: content-box;
  transition: all .2s ease-in-out;
}

.parent {
  width: 100%;
  height: 100px;
  position: relative;
  overflow: hidden;
}

.parent .fa {
  position: absolute;
  top: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.8s;
}

.parent .fa:hover {
  color: #c80a1e;;
  transition: 0.8s;
}

.parent .fa-angle-left {
  left: 5px;
  /*     display: none */
}

.parent .fa-angle-right {
  right: 5px;
}

.parent .slider {
  width: 100%;
  height: 120px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.parent .slider ul {
  width: calc((20%) * 5);
  height: 100%;
  list-style: none;
}

.parent .slider ul li {
  width: calc(100% / 5);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  float: left;
  cursor: pointer;
  border: 5px solid transparent;
  border-top: 10px solid transparent;
}

.parent .slider ul li:nth-child(1) {
  border-left: none;
}

.parent .slider ul li:last-child {
  border-right: none;
}

.parent .slider ul li:first-of-type {
  background-image: url('https://www.iloom.com/upload/product/20190607/S600_f950492d-e09d-490d-9100-a696dd613b67.jpg');
}

.parent .slider ul li:nth-of-type(2) {
  background-image: url('https://www.iloom.com/upload/productColor/20190607/S600_286ebd76-1d80-44b2-9a78-d7bd69733c80.jpg');
}

.parent .slider ul li:nth-of-type(3) {
  background-image: url('https://www.iloom.com/upload/productColor/20190607/S600_ba71dcfc-784e-463c-ae19-00c196cbf83a.jpg');
}

.parent .slider ul li:nth-of-type(4) {
  background-image: url('https://www.iloom.com/upload/productColor/20190607/S600_1b05b746-5d77-417e-9714-07615cb81816.jpg');
}

.parent .slider ul li:nth-of-type(5) {
  background-image: url('https://www.iloom.com/upload/productColor/20190607/S600_42d0538a-6f34-42f0-a2de-9d708586e3fe.jpg');
}


	.shCMSshop{margin: 0;	padding: 0 0 0 0;	width: 1200px; margin: 0 auto;}



.shCMSshop a:hover{
  text-decoration: none;
}
	.shCMSshop .shopView .viewBody{margin-top: 100px;}
  .viewBody a:hover{
    text-decoration: none;
  }
	.shCMSshop .shopView .viewBody .contentNav:after{display: block;content:'';clear: both;}
	.shCMSshop .shopView .viewBody .contentNav li{width: 25%; float: left; background: #f2f2f2; border: 1px solid #ccc; box-sizing: border-box; text-align: center;margin-right: -1px;font-size: 18px; }
.shCMSshop .shopView .viewBody .contentNav a{display: block; padding:20px 0;color: #666;}
  .shCMSshop .shopView .viewBody .contentNav a:hover{text-decoration: none;}
	.shCMSshop .shopView .viewBody .contentNav a span{font-size: 15px;}
	.shCMSshop .shopView .viewBody .contentNav a span .count{font-size: 15px;}
	.shCMSshop .shopView .viewBody .contentNav li.active{background: #c80a1e; text-decoration: none;}
	.shCMSshop .shopView .viewBody .contentNav li.active a{color: white;text-decoration: none;}

	/*테이블 기본 셋팅*/
	.shCMSshop .shopView .viewBody table{border-top: 1px solid #afafaf; border-bottom: 1px solid #d4d4d4; width: 100%; margin: 60px 0 40px 0; border-collapse: collapse; border-spacing: 0;font-size: 14px;}
	.shCMSshop .shopView .viewBody thead>tr{height:40px;background: #f2f2f2;text-align: center;}
	.shCMSshop .shopView .viewBody table tr{border-top:1px solid #d4d4d4;}
	.shCMSshop .shopView .viewBody table tr:first-child{border-top: none;}
	.shCMSshop .shopView .viewBody table .tcontent{text-align: left;}
	.shCMSshop .shopView .viewBody table .tcontent:hover{cursor: pointer;}
	.shCMSshop .shopView .viewBody table .tcontent span{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 225px; display: inline-block;}
	/*상품 정보*/
	.shCMSshop .shopView .viewBody .tproduct-info tr:first-child{border-top:2px solid #d4d4d4;}
	.shCMSshop .shopView .viewBody .tproduct-info tr td{padding: 0 13px; line-height: 20px;}
	.shCMSshop .shopView .viewBody .tproduct-info tr td:first-child{background: #f2f2f2; height: 50px; padding-left: 20px; width: 16.5%;}
	.shCMSshop .shopView .viewBody .tproduct-info tr td:nth-child(3){background: #f2f2f2; width: 16.5%; padding-left: 20px;}
	/*상품 후기*/
	.shCMSshop .shopView .viewBody .tproduct-review thead>tr>td:first-child{width: 130px; background: #f2f2f2; height: 40px;text-align: center;}
	.shCMSshop .shopView .viewBody .tproduct-review thead>tr>td:nth-child(3){width: 140px;}
	.shCMSshop .shopView .viewBody .tproduct-review thead>tr>td:last-child{width: 145px;text-align: center;}
	.shCMSshop .shopView .viewBody .tproduct-review tr{height: 50px; text-align: center;}
	/*상품 후기 더보기*/
	.shCMSshop .shopView .viewBody .tproduct-review .detail-content{display: none;}
	.shCMSshop .shopView .viewBody .tproduct-review .detail-content td:first-child{width: 130px;}
	.display{display:table-row!important;border-top:none!important;}
	.overflow{overflow:inherit!important;}
	.text{width: 207px!important; text-overflow: unset!important;}
	/*Q & A 테이블 감싸기 - 문의하기 버튼 넣기 용도*/
	.shCMSshop .shopView .viewBody .tquestion{position: relative;}
	.shCMSshop .shopView .viewBody .tquestion a{position: absolute; right: 0; top: -40px; padding:8px 12px; background: #666; color:white; font-size: 14px;}
	/*Q & A*/
	.shCMSshop .shopView .viewBody .tquestion thead>tr>td:first-child{width: 72px; background: #f2f2f2; height: 40px;text-align: center;}
	.shCMSshop .shopView .viewBody .tquestion thead>tr>td:nth-child(3){width: 140px;}
	.shCMSshop .shopView .viewBody .tquestion thead>tr>td:last-child{width: 145px;}
	.shCMSshop .shopView .viewBody .tquestion tr{text-align: center;}
	.shCMSshop .shopView .viewBody .tquestion tr{height: 40px;}
	.shCMSshop .shopView .viewBody .tquestion tr:first-child~tr td:nth-child(2){width: 95px;}
	.shCMSshop .shopView .viewBody .tquestion td.answer-no{color: #e63740;}
	.shCMSshop .shopView .viewBody .tquestion td.answer-ok{color: #3c43c7;}

	/*jquery용 테이블 셋팅*/
	.shCMSshop .shopView .viewBody table{display: none;}
	.shCMSshop .shopView .viewBody table.active{display: table;}
.information {
  font-family: 'Noto Sans KR', sans-serif;
  border-bottom: 2px solid #eee;
  width: 1200px;
  margin: 0 auto;
}

.information h3 {
  margin-bottom: 3rem;
  color: #666;
  font-size: 1.9rem;
}

.information p {
  font-size: 1.3rem;
  color: #999;
}

.information>div {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.information>div> :nth-child(2) {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.infor {
  padding-bottom: 1.3rem;
}

.content {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 7rem 0;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.content img {
  width: 100%;
}

.content h2 {
  padding: 2rem 0;
}

.content h4 {
  margin-bottom: 7rem;
}

.recommend {
  padding: 1rem 0;
  margin: 0 auto;
  margin-top: 7rem;
  width: 1200px;
  padding-bottom: 7rem;
  border-top: 1px solid #eee;

}

.recommend h3 {
  margin-bottom: 3rem;
  color: #666;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.9rem;
}

.recommend ul li img {
  width: 250px;
  padding-right: 20px;
  transition: 0.8s;
  cursor: pointer;
  height: 240px;

}

.recommend .slider {
  width: 1200px;
}

.small2 {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.small2 .small-ul {
  display: flex;
  top: 0;
  width: 1200px;
  height: 240px;
  position: absolute;
}

.small2 .small-ul li {
  margin-left: 5px;
  transition: width 1s ease-in-out;
  margin-left: -4px;
}

.small2 .small-span {
  position: absolute;
  top: calc(50% - 20px);
  opacity: 0.7;
  cursor: pointer;
  color: #FFF;
  transition: 0.8s;
}

.small2 .small-span:hover {
  opacity: 1;
  transition: 0.8s;
}

.small2 .small-span:first-of-type {
  right: 10px
}

.small2 .small-span:last-of-type {
  left: 10px
}
footer {
  clear: both;
  padding: 7rem 0;
  width: 100%;
  margin: 0 auto;
  color: #aaa;
  background: #eee;
  font-family: 'Noto Sans KR', sans-serif;
}

footer h3 {
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: #666;
}

footer h4 {
  font-size: 1.5rem;
  transition: 0.8s;
  cursor: pointer;
}

footer h4:hover {
  color: black;
  transition: 0.8s;
}

footer> :nth-child(1) {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer> :nth-child(1)> :nth-child(1) img {
  margin-top: 20px;
}

footer> :nth-child(1)> :nth-child(5) img {
  width: 30px;
  margin-right: 20px;
  opacity: 0.6;
  transition: 0.8s;
  cursor: pointer;
  margin-top: 15px;
}

footer> :nth-child(1)> :nth-child(5) img:hover {
  transition: 0.8s;
  opacity: 1;
}

footer> :nth-child(1)> :nth-child(5)> :nth-child(1) {
  display: flex;
}

footer> :nth-child(1)> :nth-child(5)> :nth-child(1) h3 {
  margin-right: 20px;
}

footer> :nth-child(1)> :nth-child(5) h4 {
  border: 1px solid #ccc;
  padding: 10px 30px;
  display: inline-block;
  margin-right: 10px;
  transition: 0.8s;
  cursor: pointer;
  margin-top: 0;
}

footer> :nth-child(1)> :nth-child(5) h4:hover {
  transition: 0.8s;
  color: black;
  border: 1px solid black;
}

footer> :nth-child(2) {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 0;
}

footer p {
  line-height: 2.5rem;
}


