@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 0;
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  text-align: center;

}

html {
  min-height: 100%;
}

#content {
  width: 180px;
  margin: auto;
  text-align: center;
  
}


.arrow {
  width: 180px;
  border: none;
  margin: 30px 0;
  line-height: 34px;
  position: relative;
  cursor: pointer;
  user-select: none;
  color: #efefef;
  border-radius: 10px;
  transition: all 0.4s;
}
.arrow.arrow {
  background-color: #0ea2bd;
}
.arrow.arrow:after, .arrow.arrow:before {
  border-width: 17px 0 17px 17px;
  transition: all 0.2s;
}
.arrow.arrow:before {
  border-color: #0ea2bd transparent;
  left: 10px;
}
.arrow.arrow:after {
  border-color: transparent #0ea2bd;
  right: 10px;
}
.arrow.arrow:hover {
  border-radius: 0px;
}
.arrow.arrow:hover:before {
  border-color: #0ea2bd transparent;
  left: -17px;
}
.arrow.arrow:hover:after {
  border-color: transparent #0ea2bd;
  right: -17px;
}

.arrow:before, .arrow:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0;
}

/* 바로 구매하기*/

.arrow2 {
  width: 180px;
  border: none;
  margin: 30px 0;
  line-height: 34px;
  position: relative;
  cursor: pointer;
  user-select: none;
  color: #efefef;
  border-radius: 10px;
  transition: all 0.4s;
}
.arrow2.arrow2 {
  background-color: #9FC93C;
}
.arrow2.arrow2:after, .arrow2.arrow2:before {
  border-width: 17px 0 17px 17px;
  transition: all 0.2s;
}
.arrow2.arrow2:before {
  border-color: #9FC93C transparent;
  left: 10px;
}
.arrow2.arrow2:after {
  border-color: transparent #9FC93C;
  right: 10px;
}
.arrow2.arrow2:hover {
  border-radius: 0px;
}
.arrow2.arrow2:hover:before {
  border-color: #9FC93C transparent;
  left: -17px;
}
.arrow2.arrow2:hover:after {
  border-color: transparent #9FC93C;
  right: -17px;
}

.arrow2:before, .arrow2:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0;
} 
