<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.camp-mapper">
	<!-- 캠핑장 리스트 -->
	<select id="campListData" resultType="CampVO" parameterType="hashmap">
		SELECT no, c_title, c_poster, c_content, c_addr, c_info2, num
		FROM (SELECT no, c_title, c_poster, c_content, c_addr, c_info2, rownum as num
		FROM (SELECT /*+ INDEX_ASC()*/ no, c_title, c_poster, c_content, c_addr, c_info2
		FROM camp_1 ORDER BY c_hit DESC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<!-- 캠핑장 총페이지 -->
	<select id="campTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/10.0) FROM camp_1
	</select>
	
	<!-- 캠핑장 상세페이지 -->
	<update id="campHitIncrement" parameterType="int">
		UPDATE camp_1 SET
		c_hit = c_hit + 1
		WHERE no=#{no}
	</update>
	<select id="campDetailData" resultType="CampVO" parameterType="int">
		SELECT * FROM camp_1 WHERE no=#{no}
	</select>
	
	<!-- 안전수칙동영상 -->
	<select id="campVideo" resultType="CampVideoVO">
		SELECT * FROM campvideo_1 ORDER BY cv_no ASC
	</select>
	
	<!-- 캠핑장 지도 검색 -->
	<select id="campMapFind" resultType="CampVO" parameterType="String">
		SELECT no, c_title, c_poster, c_addr, rownum
		FROM (select c_title, c_hit, c_addr, c_poster, no FROM camp_1 ORDER BY c_hit DESC)
		WHERE REGEXP_LIKE(c_addr, #{title}) AND rownum &lt;= 20
	</select>
	
	<!-- 리뷰 
RE_NO      NOT NULL NUMBER       
RE_MSG     NOT NULL CLOB         
RE_WRITER  NOT NULL VARCHAR2(30) 
RE_REGDATE          DATE         
RE_SCORE            NUMBER       
RE_TNO     NOT NULL NUMBER       
RE_TYPE    NOT NULL NUMBER 
-->
<!-- 리뷰 목록 출력 -->
	<select id="campReviewData" resultType="ReviewVO" parameterType="ReviewVO">
		SELECT /*+ INDEX_DESC(review_1 ro_no_pk)*/ re_no,re_msg,re_writer,re_regdate,re_score 
		FROM review_1
		WHERE re_tno=#{re_tno} AND re_type=#{re_type} 
	</select>
<!-- 리뷰 작성 -->
	<insert id="campReviewInsert" parameterType="ReviewVO">
		<selectKey keyProperty="re_no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(re_no)+1,1) as re_no FROM review_1
		</selectKey>
		INSERT INTO review_1 VALUES(
			#{re_no},
			#{re_msg},
			#{re_writer},
			SYSDATE,
			#{re_score},
			#{re_tno},
			#{re_type}
		)
	</insert>
<!-- 리뷰 삭제 -->
	<delete id="campReviewDelete" parameterType="int">
		DELETE FROM review_1
		WHERE re_no=#{re_no}
	</delete>
<!-- 리뷰 수정 -->	
	<update id="campReviewUpdate" parameterType="ReviewVO">
		UPDATE review_1 SET 
		re_msg=#{re_msg}
		WHERE re_no=#{re_no}
	</update>

	<!-- 메인페이지 추천 캠핑장 -->
	<select id="mainCampList" resultType="CampVO">
		SELECT no, c_title, c_poster, c_addr, c_hit, rownum
		FROM (SELECT no, c_title, c_poster, c_addr, c_hit FROM camp_1 ORDER BY c_hit DESC) WHERE rownum &lt;= 3
	</select>
</mapper>