<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.campgoods-mapper">
	<select id="campgoodsListData" resultType="CampGoodsVO" parameterType="hashmap">
		SELECT g_id,g_brand,g_name,g_image,g_price,g_detail, num
		FROM (SELECT g_id,g_brand,g_name,g_image,g_price,g_detail, rownum as num
		FROM (SELECT /*+ INDEX_ASC()*/ g_id,g_brand,g_name,g_image,g_price,g_detail
		FROM goods_1))
		WHERE g_id BETWEEN #{start} AND #{end}
	</select>
	<select id="campgoodsTotalPage" resultType="int" parameterType="hashmap">
		SELECT CEIL(COUNT(*)/9.0) FROM goods_1
	</select>
	<select id="campgoodsDetailData" resultType="CampGoodsVO" parameterType="int">
		SELECT * FROM goods_1
		WHERE g_id=#{g_id}
	</select>
	 <!--  캠핑용품 찾기 -->
  <select id="campgoodsFindData" resultType="CampGoodsVO" parameterType="hashmap">
    SELECT g_id,g_brand,g_name,g_image,g_price,g_detail, num
    FROM (SELECT g_id,g_brand,g_name,g_image,g_price,g_detail,rownum as num 
    FROM (SELECT g_id,g_brand,g_name,g_image,g_price,g_detail 
    FROM goods_1 WHERE g_brand LIKE '%'||#{g_brand}||'%' ORDER BY g_id ASC))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  <select id="campgoodsFindTotalPage" resultType="int" parameterType="string">
    SELECT CEIL(COUNT(*)/9.0) FROM goods_1
    WHERE g_brand LIKE '%'||#{g_brand}||'%'
  </select>
  
   <!-- 찜하기 -->
  <insert id="campgoodsJjimInsert" parameterType="com.sist.vo.JjimVO">
    <selectKey keyProperty="no" resultType="int" order="BEFORE">
     SELECT NVL(MAX(no)+1,1) as no FROM jjim_1
    </selectKey>
    INSERT INTO jjim_1 VALUES(#{no},#{name},#{g_id})
  </insert>
  
  <!-- 찜 여부 확인 -->
  <select id="campgoodsJjimCount" resultType="int" parameterType="com.sist.vo.JjimVO">
    SELECT COUNT(*) FROM jjim_1
    WHERE g_id=#{g_id} AND name=#{name}
  </select>
  
  <!-- 찜 출력 (마이페이지) : forEach -->
  <select id="campgoodsJjimListData" resultType="CampGoodsVO" parameterType="int">
    SELECT * FROM goods_1
    WHERE g_id=#{g_id}
  </select>
  
  <select id="campgoodsJjimGetg_id" resultType="int" parameterType="string">
    SELECT g_id FROM jjim_1
    WHERE name=#{name}
  </select>
  <!--  찜 취소 -->
  <delete id="campgoodsJjimDelete" parameterType="com.sist.vo.JjimVO">
   DELETE FROM jjim_1
   WHERE name=#{name} AND g_id=#{g_id}
  </delete>
  <!-- 리뷰 목록 출력 -->
	<select id="campgoodsReviewData" resultType="ReviewVO" parameterType="ReviewVO">
		SELECT /*+ INDEX_DESC(review_1 ro_no_pk)*/ re_no,re_msg,re_writer,re_regdate,re_score 
		FROM review_1
		WHERE re_tno=#{re_tno} AND re_type=#{re_type} 
	</select>
<!-- 리뷰 작성 -->
	<insert id="campgoodsReviewInsert" parameterType="ReviewVO">
		<selectKey keyProperty="re_no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(re_no)+1,1) as re_no FROM review_1
		</selectKey>
		INSERT INTO review_1 VALUES(
			#{re_no},
			#{re_msg},
			#{re_writer},
			SYSDATE,
			#{re_score},
			#{re_tno},
			#{re_type}
		)
	</insert>
<!-- 리뷰 삭제 -->
	<delete id="campgoodsReviewDelete" parameterType="int">
		DELETE FROM review_1
		WHERE re_no=#{re_no}
	</delete>
<!-- 리뷰 수정 -->	
	<update id="campgoodsReviewUpdate" parameterType="ReviewVO">
		UPDATE review_1 SET 
		re_msg=#{re_msg}
		WHERE re_no=#{re_no}
	</update>
</mapper>

<!-- 
	NO       NOT NULL NUMBER        
	G_TYPE            VARCHAR2(500) 
	G_TITLE           VARCHAR2(500) 
	G_POSTER          VARCHAR2(500) 
	G_PRICE           NUMBER        
	G_IMGS            CLOB          
	G_HIT             NUMBER      
	

 -->