<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sist.mapper.license-mapper">
	<!-- 자격증 목록 -->
	<select id="licenseListData" resultType="LicenseVO" parameterType="hashmap">
		SELECT l_no, l_name, l_img, l_cname, lp_poster, num
		FROM (SELECT l_no, l_name, l_img, l_cname, lp_poster, rownum as num
		FROM (SELECT l_no, l_name, l_img, l_cname, lp_poster 
		FROM license_1, l_category_1, l_poster_1
        WHERE license_1.l_cno = l_category_1.l_cno AND license_1.lp_no=l_poster_1.lp_no
        ORDER BY l_no ASC))
        WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 자격증 총페이지 -->
	<select id="licenseTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/16.0) FROM license_1
	</select>
	
</mapper>