<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.mypage-mapper">
	<!-- 마이페이지 홈 회원 기본정보 -->
	<select id="myhomeData" resultType="MemberVO" parameterType="String">
		SELECT * FROM member_1 WHERE id=#{id}
	</select>
	
	<!-- 마이페이지 문의사항 불러오기 -->
	<select id="mypageQnaBoard" resultType="QnaBoardVO" parameterType="String">
		SELECT no,name,title,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,count,isreply,group_id,group_tab,recount
    	FROM qna_board_1 WHERE id=#{id} ORDER BY no DESC
	</select>
	<!-- 마이페이지 문의사항 미답변만 -->
	<select id="mypageQnaBoardNo" resultType="QnaBoardVO" parameterType="String">
		SELECT no,name,title,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,count,isreply,group_id,group_tab,recount
    	FROM qna_board_1 WHERE id=#{id} AND recount=0 ORDER BY no DESC
	</select>
	
	
</mapper>