<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.order-mapper">
	<!-- 결제하기 회원 정보 -->
	<select id="orderMemberData" resultType="MemberVO" parameterType="String">
		SELECT * FROM member_1 WHERE id=#{id}
	</select>
	<!-- 결제하기 장바구니에서 상품정보 -->
	<select id="orderCartData" resultType="CartVO" parameterType="String">
		SELECT * FROM cart_1 WHERE id=#{id} AND o_no=0
	</select>
	
	<!-- 결제 정보 저장 -->
	<insert id="orderInsertData" parameterType="OrderVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE"><!-- 시퀀스 -->
			SELECT NVL(MAX(no)+1, 1) as no FROM order_1
		</selectKey>
		INSERT INTO order_1(no, o_name, o_post, o_addr1, o_addr2, o_email, o_tel, o_content, id, o_total)
		VALUES(#{no}, #{o_name}, #{o_post}, #{o_addr1}, #{o_addr2}, #{o_email}, #{o_tel}, #{o_content}, #{id}, #{o_total})
	</insert>
	<!-- 장바구니 업데이트를 위한 o_no => cart_1 MAX(no) -->
	<select id="orderRecentNo" resultType="int">
		SELECT NVL(MAX(no), 1) FROM order_1
	</select>
	<!-- 결제시 장바구니 o_no 값 저장  장바구니 (아이디 동일 & 결제 안된거 : o_no=0) -->
	<update id="orderCartUpdate" parameterType="CartVO">
		UPDATE cart_1 SET
		o_no=#{o_no} WHERE o_no=0 AND id=#{id}
	</update>
	
	<!-- 마이페이지 결제정보 가져오기 최근 하나만 -->
	<select id="mypageOrderListData" resultType="OrderVO" parameterType="String">
		SELECT no, o_name, o_post, o_addr1, o_addr2, o_regdate, o_deldate, o_total, rownum
		FROM order_1 WHERE id=#{id} AND rownum &lt;= 1
	</select>
	
	<!-- 결제 정보 -->
	<select id="mypageOrderList" resultType="OrderVO" parameterType="String">
		SELECT no, o_name, o_post, o_addr1, o_addr2, o_email, o_tel, o_content, o_total,
			TO_CHAR(o_regdate, 'YYYY-MM-DD') as dbday1, TO_CHAR(o_deldate, 'YYYY-MM-DD') as dbday2
		 FROM order_1 WHERE id=#{id} ORDER BY no DESC
	</select>
	<!-- 장바구니 정보 -->
	<select id="mypageOrderGoods" resultType="CartVO" parameterType="int">
		SELECT no, c_account, c_price, id, g_id, g_name, g_price, g_image, o_no
		FROM cart_1 WHERE o_no=#{o_no} ORDER BY no DESC
	</select>
	<!-- 결제 상세 정보 -->
	<select id="mypageOrderDetailData" resultType="OrderVO" parameterType="int">
		SELECT no, o_name, o_post, o_addr1, o_addr2, o_email, o_tel, o_content, o_total,
			TO_CHAR(o_regdate, 'YYYY-MM-DD') as dbday1, TO_CHAR(o_deldate, 'YYYY-MM-DD') as dbday2
		 FROM order_1 WHERE no=#{no}
	</select>
</mapper>