<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.qnaboard-mapper">
<!-- private int no,count,groud_id,group_step,group_tab,isreply;
	private String name,title,content,filesize,filename;
	private Date regdate; -->
<!-- 목록 출력 -->
<select id="qnaboardListData" resultType="QnaBoardVO" parameterType="hashmap">
	SELECT no,name,title,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,count,isreply,group_id,group_tab,num
    FROM (SELECT no,name,title,regdate,count,isreply,group_id,group_tab,rownum as num
    FROM (SELECT no,name,title,regdate,count,isreply,group_id,group_tab
    FROM qna_board_1 ORDER BY group_id DESC,group_step ASC))
    WHERE num BETWEEN #{start} AND #{end}
</select>
<!-- 총페이지 -->
<select id="qnaboardTotalPage" resultType="int">
    SELECT CEIL(COUNT(*)/10.0) FROM qna_board_1
</select>
<!-- 상세 보기 -->
<select id="qnaboardDetailData" resultType="QnaBoardVO" parameterType="int">
	SELECT no,name,title,content,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,count
    FROM qna_board_1
    WHERE no=#{no}
</select>
<!-- 조회수 -->
<update id="countIncrement" parameterType="int">
    UPDATE qna_board_1 SET
    count=count+1
    WHERE no=#{no}
</update>
<!-- 파일 첨부 -->
<insert id="qnaboardInsertData">
	INSERT INTO qna_board_1(no,name,title,content,filename,filesize)
	VALUSE (#{no},#{name},#{title},#{content},#{filename},#{filesize})
</insert>
<!-- 게시글 작성(사용자) -->
<insert id="qnaboardInsert" parameterType="QnaBoardVO">
    <selectKey keyProperty="no" resultType="int" order="BEFORE">
      SELECT NVL(MAX(no)+1,1) as no FROM qna_board_1
    </selectKey>
	<!-- INSERT INTO qna_board_1(no,name,title,content,filename,filesize,group_id)
    VALUES(#{no},#{name},#{title},#{content},#{filename},#{filesize},
    (SELECT NVL(MAX(group_id)+1,1) FROM qna_board_1) -->
    INSERT INTO qna_board_1(no,name,title,content,group_id)
    VALUES(#{no},#{name},#{title},#{content},
     (SELECT NVL(MAX(group_id)+1,1) FROM qna_board_1)
    )
</insert>
<!-- 게시글 수정 -->
<update id="qnaboardUpdate" parameterType="QnaBoardVO">
    UPDATE qna_board_1 SET
    name=#{name},title=#{title},content=#{content}
    WHERE no=#{no}
</update>
<!-- 답변 달기(어드민)-->

</mapper>