<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.reply-mapper">
<!-- 댓글 목록 -->
<select id="qnareplyListData" resultType="QnaReplyVO" parameterType="int">
    SELECT /*+ INDEX_DESC(qna_reply_1 QR_R_NO_PK)*/ no,r_no,r_type,id,r_name,r_content,TO_CHAR(r_regdate,'YYYY-MM-DD HH24:MI:SS') as dbday
    FROM qna_reply_1
    WHERE no=#{no}
</select>
<!-- 댓글 쓰기 -->
<insert id="qnareplyInsert" parameterType="QnaReplyVO"> 
    <selectKey keyProperty="r_no" resultType="int" order="BEFORE">
      SELECT NVL(MAX(r_no)+1,1) as r_no FROM qna_reply_1
    </selectKey>
    INSERT INTO qna_reply_1 VALUES(
      #{no},
      #{r_no},
      #{r_type},
	  #{r_name},
      #{r_content},
      SYSDATE,
      #{id}
    )
</insert>
<!-- 댓글 수정 -->
<update id="qnareplyUpdate" parameterType="QnaReplyVO">
   UPDATE qna_reply_1 SET
   r_content=#{r_content}
   WHERE r_no=#{r_no}
</update>
<!-- 댓글 삭제 -->
<delete id="qnareplyDelete" parameterType="int">
   DELETE FROM qna_reply_1
   WHERE r_no=#{r_no}
</delete>
</mapper>