<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.reserve-mapper">
	<!-- 예약등록 -->
	<insert id="reserveInsert" parameterType="ReserveVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE"><!-- 시퀀스 -->
			SELECT NVL(MAX(no)+1, 1) as no FROM reserve_1
		</selectKey>
		INSERT INTO reserve_1(no, fno, id, cin, cout, inwon)
		VALUES(#{no}, #{fno}, #{id}, #{cin}, #{cout}, #{inwon})
	</insert>
</mapper>