<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.video-mapper">
<select id="videoListData" resultType="VideoVO" parameterType="hashmap">
	SELECT /*+ INDEX_ASC(PK_VIDEO_DETAIL_1)*/vd_no,vd_title,vd_poster,vd_subtitle,vd_deadline
	FROM video_detail_1 
</select>
<select id="videoDetailListData" resultType="VideoVO" parameterType="hashmap">
	SELECT vd_no,vd_title,vd_poster,vd_subtitle,vd_deadline,num
	FROM (SELECT vd_no,vd_title,vd_poster,vd_subtitle,vd_deadline,rownum as num
	FROM (SELECT /*+ INDEX_ASC(PK_VIDEO_DETAIL_1)*/vd_no,vd_title,vd_poster,vd_subtitle,vd_deadline
	FROM video_detail_1)) 
	WHERE vd_no BETWEEN #{start} AND #{end}
</select>
<select id="videoListTotalPage" resultType="int" parameterType="hashmap">
	SELECT CEIL((COUNT(*)/9.0)) FROM video_detail_1
</select>
<select id="videoDetailData" resultType="VideoVO" parameterType="int">
	SELECT * FROM video_detail_1 
	WHERE vd_no=#{vd_no}
</select>
</mapper>