.u-section-1 .u-image-1 {
  min-height: 596px;
  background-image: url("images/1.png");
  background-position: 0% 50%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    min-height: 734px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 711px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 569px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 796px;
}

.u-section-2 .u-text-1 {
  margin: 75px 802px 0 182px;
}

.u-section-2 .u-text-2 {
  margin: -39px 182px 0 802px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 75px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 646px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-slider-1 {
  min-height: 538px;
  height: auto;
  width: 517px;
  margin: 2px 0 -2px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-post-details-1 {
  min-height: 538px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 23px 14px;
}

.u-section-2 .u-text-3 {
  margin: 0 32px;
}

.u-section-2 .u-image-1 {
  height: 246px;
  width: 424px;
  margin: 16px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 32px 32px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-post-details-2 {
  min-height: 538px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 23px 14px;
}

.u-section-2 .u-text-5 {
  margin: 0 32px;
}

.u-section-2 .u-image-2 {
  height: 246px;
  width: 424px;
  margin: 16px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 32px 32px 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-post-details-3 {
  min-height: 538px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 23px 14px;
}

.u-section-2 .u-text-7 {
  margin: 0 32px;
}

.u-section-2 .u-image-3 {
  height: 246px;
  width: 424px;
  margin: 16px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  margin: 32px 32px 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-post-details-4 {
  min-height: 538px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 23px 14px;
}

.u-section-2 .u-text-9 {
  margin: 0 32px;
}

.u-section-2 .u-image-4 {
  height: 246px;
  width: 424px;
  margin: 16px auto 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.5rem;
  margin: 32px 32px 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2 .u-post-details-5 {
  min-height: 538px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 23px 14px;
}

.u-section-2 .u-text-11 {
  margin: 0 32px;
}

.u-section-2 .u-image-5 {
  height: 246px;
  width: 424px;
  margin: 16px auto 0;
}

.u-section-2 .u-text-12 {
  font-size: 1.5rem;
  margin: 32px 32px 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-2 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 642px;
}

.u-section-2 .u-container-layout-12 {
  padding: 0;
}

.u-section-2 .u-slider-2 {
  min-height: 538px;
  height: auto;
  width: 516px;
  margin: 2px 0 -2px;
}

.u-section-2 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-container-layout-13 {
  padding: 0;
}

.u-section-2 .u-post-details-6 {
  min-height: 538px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-14 {
  padding: 23px 14px;
}

.u-section-2 .u-text-13 {
  margin: 0 32px;
}

.u-section-2 .u-image-6 {
  height: 246px;
  width: 424px;
  margin: 16px auto 0;
}

.u-section-2 .u-text-14 {
  font-size: 1.5rem;
  margin: 32px 32px 0;
}

.u-section-2 .u-container-layout-15 {
  padding: 0;
}

.u-section-2 .u-post-details-7 {
  min-height: 538px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-16 {
  padding: 23px 14px;
}

.u-section-2 .u-text-15 {
  margin: 0 32px;
}

.u-section-2 .u-image-7 {
  height: 246px;
  width: 424px;
  margin: 16px auto 0;
}

.u-section-2 .u-text-16 {
  font-size: 1.5rem;
  margin: 32px 32px 0;
}

.u-section-2 .u-container-layout-17 {
  padding: 0;
}

.u-section-2 .u-post-details-8 {
  min-height: 538px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-18 {
  padding: 23px 14px;
}

.u-section-2 .u-text-17 {
  margin: 0 32px;
}

.u-section-2 .u-image-8 {
  height: 246px;
  width: 424px;
  margin: 16px auto 0;
}

.u-section-2 .u-text-18 {
  font-size: 1.5rem;
  margin: 32px 32px 0;
}

.u-section-2 .u-container-layout-19 {
  padding: 0;
}

.u-section-2 .u-post-details-9 {
  min-height: 538px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-20 {
  padding: 23px 14px;
}

.u-section-2 .u-text-19 {
  margin: 0 32px;
}

.u-section-2 .u-image-9 {
  height: 246px;
  width: 424px;
  margin: 16px auto 0;
}

.u-section-2 .u-text-20 {
  font-size: 1.5rem;
  margin: 32px 32px 0;
}

.u-section-2 .u-container-layout-21 {
  padding: 0;
}

.u-section-2 .u-post-details-10 {
  min-height: 538px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-22 {
  padding: 23px 14px;
}

.u-section-2 .u-text-21 {
  margin: 0 32px;
}

.u-section-2 .u-image-10 {
  height: 246px;
  width: 424px;
  margin: 16px auto 0;
}

.u-section-2 .u-text-22 {
  font-size: 1.5rem;
  margin: 32px 32px 0;
}

.u-section-2 .u-carousel-control-3 {
  width: 50px;
  height: 50px;
}

.u-section-2 .u-carousel-control-4 {
  width: 50px;
  height: 50px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 702px;
    margin-left: 82px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 82px;
    margin-left: 702px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 533px;
  }

  .u-section-2 .u-slider-1 {
    width: 420px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 227px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 227px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 227px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 227px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    height: 227px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 529px;
  }

  .u-section-2 .u-slider-2 {
    width: 420px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    height: 227px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-7 {
    height: 227px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-8 {
    height: 227px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-9 {
    height: 227px;
  }

  .u-section-2 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-10 {
    height: 227px;
  }

  .u-section-2 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 564px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 564px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-slider-1 {
    width: 310px;
  }

  .u-section-2 .u-image-1 {
    height: 163px;
  }

  .u-section-2 .u-image-2 {
    height: 163px;
  }

  .u-section-2 .u-image-3 {
    height: 163px;
  }

  .u-section-2 .u-image-4 {
    height: 163px;
  }

  .u-section-2 .u-image-5 {
    height: 163px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-slider-2 {
    width: 310px;
  }

  .u-section-2 .u-image-6 {
    height: 163px;
  }

  .u-section-2 .u-image-7 {
    height: 163px;
  }

  .u-section-2 .u-image-8 {
    height: 163px;
  }

  .u-section-2 .u-image-9 {
    height: 163px;
  }

  .u-section-2 .u-image-10 {
    height: 163px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 384px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 384px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 184px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 184px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
  }

  .u-section-2 .u-image-3 {
    width: 320px;
  }

  .u-section-2 .u-image-4 {
    width: 320px;
  }

  .u-section-2 .u-image-5 {
    width: 320px;
  }

  .u-section-2 .u-image-6 {
    width: 320px;
  }

  .u-section-2 .u-image-7 {
    width: 320px;
  }

  .u-section-2 .u-image-8 {
    width: 320px;
  }

  .u-section-2 .u-image-9 {
    width: 320px;
  }

  .u-section-2 .u-image-10 {
    width: 320px;
  }
} .u-section-3 {
  background-image: linear-gradient(#f6e0d1, rgba(246,224,209,0.22));
}

.u-section-3 .u-sheet-1 {
  min-height: 603px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 81px;
  margin-bottom: 34px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 488px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 17px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 488px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-text-6 {
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 402px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 606px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1047px;
  margin: 25px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 458px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 13px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 0;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 458px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 500px;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }
}