.u-section-1 .u-sheet-1 {
  min-height: 596px;
}

.u-section-1 .u-image-1 {
  height: 596px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 0% 50%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 6px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 711px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 768px;
}

.u-section-2 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 41px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 618px;
}

.u-section-2 .u-container-layout-1 {
  padding: 28px 30px;
}

.u-section-2 .u-slider-1 {
  min-height: 455px;
  margin-bottom: -1px;
  margin-top: 2px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-2 .u-post-details-1 {
  min-height: 375px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 140px;
  margin-top: 20px;
}

.u-section-2 .u-carousel-item-2 {
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-2 .u-post-details-2 {
  min-height: 375px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 140px;
  margin-top: 20px;
}

.u-section-2 .u-carousel-item-3 {
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-2 .u-post-details-3 {
  min-height: 375px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 140px;
  margin-top: 20px;
}

.u-section-2 .u-carousel-item-4 {
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-2 .u-post-details-4 {
  min-height: 375px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 140px;
  margin-top: 20px;
}

.u-section-2 .u-carousel-item-5 {
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px 50px;
}

.u-section-2 .u-post-details-5 {
  min-height: 374px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  margin-right: 0;
  margin-left: 0;
}

.u-section-2 .u-image-5 {
  height: 140px;
  margin-top: 20px;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-2 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 618px;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-slider-2 {
  min-height: 455px;
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
}

.u-section-2 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-6 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px 50px;
}

.u-section-2 .u-post-details-6 {
  min-height: 375px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  height: 140px;
  margin-top: 20px;
}

.u-section-2 .u-carousel-item-7 {
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px 50px;
}

.u-section-2 .u-post-details-7 {
  min-height: 375px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px;
}

.u-section-2 .u-image-7 {
  height: 140px;
  margin-top: 20px;
}

.u-section-2 .u-carousel-item-8 {
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-17 {
  padding: 30px 50px;
}

.u-section-2 .u-post-details-8 {
  min-height: 375px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-18 {
  padding: 30px;
}

.u-section-2 .u-image-8 {
  height: 140px;
  margin-top: 20px;
}

.u-section-2 .u-carousel-item-9 {
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-19 {
  padding: 30px 50px;
}

.u-section-2 .u-post-details-9 {
  min-height: 375px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-20 {
  padding: 30px;
}

.u-section-2 .u-image-9 {
  height: 140px;
  margin-top: 20px;
}

.u-section-2 .u-carousel-item-10 {
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-2 .u-container-layout-21 {
  padding: 30px 50px;
}

.u-section-2 .u-post-details-10 {
  min-height: 375px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-22 {
  padding: 30px;
}

.u-section-2 .u-image-10 {
  height: 140px;
  margin-top: 20px;
}

.u-section-2 .u-carousel-control-3 {
  width: 50px;
  height: 50px;
}

.u-section-2 .u-carousel-control-4 {
  width: 50px;
  height: 50px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 73px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-top: 8px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-2 .u-slider-1 {
    height: auto;
  }

  .u-section-2 .u-post-details-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-post-details-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-post-details-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-post-details-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-post-details-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-2 .u-slider-2 {
    height: auto;
  }

  .u-section-2 .u-post-details-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-post-details-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-post-details-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-post-details-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-post-details-10 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 162px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -81px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 656px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -575px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-top: -562px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 607px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 488px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 17px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 488px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-text-6 {
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 402px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 640px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 0;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}